header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 20 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}

.header-menu {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100 auto;
}

.header_menu_item {
    margin-left: 20px;
    color: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

.firstview_div {
    display: flex;
    width: 800px;
    justify-content: flex-end;
}

.firstview {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    position: relative;
}

.slogan {
    width: 40%;
    position: relative;
}

.slogan_box {
    position: absolute;
    left: 50%;
    top: 50px;
    z-index: 100;
    width: max-content;
}

.slogan_eng {
    color: mediumvioletred;
    font-weight: lighter;
    font-size: 50px;
    font-family: 'Comic Sans MS', cursive;
}

span {
    color: rgb(7, 187, 193);
}

.div_slogan_ja {
    margin-top: 50px;
    max-width: 300px;
}

.slogan_ja {
    color: mediumvioletred;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 10px;
}

p {
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.section_white {
    margin: 50px auto;
    width: 800px;
}

.div_news {
    display: block;
    margin: 30px auto;
    border-top: 1.5px solid rgb(179, 179, 179);
    border-bottom: 1.5px solid rgb(179, 179, 179);
    padding: 15px 0;
    width: 100%;
}

.news_div {
    margin: 20px 20px;
}

.section_title {
    text-align: center;
}
.sub_section_title {
    color: mediumvioletred;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 10px;
}

.h2_section_title {
    color: rgb(104, 104, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.news_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100 auto;
    list-style: none; 
    border-bottom: 1px solid rgb(179, 179, 179);
}

.news_row {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 10px 20px;
    color: dimgray;
    padding-bottom: 15px;
}

.news {
    background-color: mediumvioletred;
    color: white;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    padding-block: 3px;
}

.section_grey {
    background-color: rgb(242, 242, 242);
    padding-top: 30px;
    padding-bottom: 20px;
}

.section_contents {
    width: 800px;
    margin: 0 auto;
}

.about_section {
    padding: 20px;              
    height: 300px;
}

.technology_coaching {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
    margin: 0 auto;
    width: 700px;
}

.about_img {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
}

.service {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: 170px 170px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.box1 {
    background-color: rgb(215, 38, 111);
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}

.service_img {
    max-width: 100px;
    height: auto;
    margin: 30px;
}

.service_text {
    color: white;
    line-height: 30px;
}

.box2 {
    background-color: rgb(173, 32, 122);
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    height: 170px;   
}

.box3 {
    background-color: rgb(166, 82, 135);
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    height: 170px;
}

.rightbox_text {
    text-align: left;
    padding-top: 40px;
}

.blog_card {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}

.card_img img{
    width: 100%;
}

.card__content {
    padding: 15px 25px;
}

.card_img {
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card_img p {
    color: white;
    position: absolute;
    top: 0px; left: 0px;
}

.blog_mark {
    font-size: medium;
    background-color: rgb(215, 38, 111);
    width: 60px;
    text-align: center;
    padding-block: 8px;
    border-top-left-radius: 10px;
}

.card_content_title {
    font-size: 15px;
    margin: 25px;
    font-weight: 400px;
    color: dimgrey;
}

.tag_item {
    display: inline-block;
    justify-content: space-between;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 200px;
}

.blog_page_btn {
    text-align: center;
    width: 200px;
    padding: 20px 0px;
    color: rgb(215, 38, 111);
    font-weight: bold;
    border-color: 2px rgb(215, 38, 111);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin: 30px auto 30px;
    display:block;
    background-color: white;
}

.recruit_interview {
    display: flex;
}

.recruit {
    width: 50%;
    height: 290px;
    background-color: blanchedalmond;
    background-image: url("../img/recruit.png");
}

.interview {
    width: 50%;
    height: 290px;
    background-color:brown;
    background-image: url("../img/interview.png");
}

.overlapping_text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 140px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 18px;
    color: dimgrey;
    text-align: left;
}

table th {
    background-color: rgb(234, 234, 234);
}

table td {
    padding-right: 20px;
}

.company_div {
    width: 80%;
    margin: 20px auto;
}

.contact {
    color: rgb(104, 104, 104);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.contact_decoration {
    width: 0.3%;
    height: 30px;
    background-color: mediumvioletred;
    margin: 20px auto;
}

.contact_btn {
    font-size: 20px;
    width: 250px;
    padding: 20px 30px;
    color: white;
    background: linear-gradient(90deg, #ff5db9, #d52154);
    box-shadow: 0px 5px 0px #aa0f3b;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}

.mail_icon {
    width: 25px;
    height: auto;
    padding-right: 25px;
}

.btn_div {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    color: gray;
    background-color: rgb(238, 238, 238);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
}